/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
ul {
  width:450px;
  margin-left:auto;
  margin-right:auto;
  list-style-type:none;
  padding:0;
  overflow:hidden;
}

li {
  float:left;
  border:1px solid black;
  padding: 5px;
}

a:link, a:visited {
  display:block;
  text-align:center;
  text-decoration:none;
}

a:hover, a:active {
  color:red;
}

table {
  border-collapse:collapse;
} 

td {
  border:1px solid gray;
  padding:5px; 
}

#error {
  color:red;
  text-transform:uppercase;
  width:450px;
  margin-left:auto;
  margin-right:auto;
}

.group {
  width:200px;
}
